x-minio-common: &minio-common
  image: quay.io/minio/minio:RELEASE.2025-09-07T16-13-09Z
  restart: unless-stopped
  user: 1000:1000
  command: server --console-address ":9001" http://minio-{1...3}/mnt/data-{1...4}
  environment:
    MINIO_ROOT_USER: ${MINIO_USER}
    MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
  depends_on:
    init:
      condition: service_completed_successfully
  healthcheck:
    test: curl -f http://localhost:9000/minio/health/live
    interval: 60s
    timeout: 1s
    retries: 3
    start_period: 1s
    start_interval: 1s

services:
  haproxy:
    image: docker.io/library/haproxy:3.2
    restart: unless-stopped
    container_name: minio-haproxy
    read_only: true
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
    ports:
      - 9000:9000/tcp
      - 9001:9001/tcp
    depends_on:
      init:
        condition: service_completed_successfully
      minio-1:
        condition: service_healthy
      minio-2:
        condition: service_healthy
      minio-3:
        condition: service_healthy
    healthcheck:
      test: timeout 1 bash -c '</dev/tcp/localhost/9080' && timeout 1 bash -c '</dev/tcp/localhost/9000' && timeout 1 bash -c '</dev/tcp/localhost/9001'
      interval: 60s
      timeout: 1s
      retries: 3
      start_period: 1s
      start_interval: 1s

  minio-mc:
    # This service is short lived, it does this:
    # - starts up
    # - checks to see if the MinIO service `minio` is ready
    # - creates a MinIO Access Key that the StarRocks services will use
    # - exits
    image: quay.io/minio/mc:RELEASE.2025-08-13T08-35-41Z
    entrypoint:
      - sh
      - -c
      - |
        mc alias set minio http://haproxy:9000 ${MINIO_USER} ${MINIO_PASSWORD}
        mc admin user svcacct add \
          --access-key ${MINIO_ACCESS_KEY} \
          --secret-key ${MINIO_SECRET_KEY} \
          minio ${MINIO_USER}
        mc mb -p minio/${BUCKET_NAME}
    depends_on:
      haproxy:
        condition: service_healthy
      minio-1:
        condition: service_healthy
      minio-2:
        condition: service_healthy
      minio-3:
        condition: service_healthy

  minio-1:
    <<: *minio-common
    container_name: minio-1
    volumes:
      - .data/minio-1-1:/mnt/data-1
      - .data/minio-1-2:/mnt/data-2
      - .data/minio-1-3:/mnt/data-3
      - .data/minio-1-4:/mnt/data-4

  minio-2:
    <<: *minio-common
    container_name: minio-2
    volumes:
      - .data/minio-2-1:/mnt/data-1
      - .data/minio-2-2:/mnt/data-2
      - .data/minio-2-3:/mnt/data-3
      - .data/minio-2-4:/mnt/data-4

  minio-3:
    <<: *minio-common
    container_name: minio-3
    volumes:
      - .data/minio-3-1:/mnt/data-1
      - .data/minio-3-2:/mnt/data-2
      - .data/minio-3-3:/mnt/data-3
      - .data/minio-3-4:/mnt/data-4

  init:
    image: docker.io/library/busybox:stable
    command:
      - /bin/sh
      - -c
      - |
        chown 99:99 /mnt/haproxy.cfg
        chown 1000:1000 -R /mnt/minio-1-1
        chown 1000:1000 -R /mnt/minio-1-2
        chown 1000:1000 -R /mnt/minio-1-3
        chown 1000:1000 -R /mnt/minio-1-4
        chown 1000:1000 -R /mnt/minio-2-1
        chown 1000:1000 -R /mnt/minio-2-2
        chown 1000:1000 -R /mnt/minio-2-3
        chown 1000:1000 -R /mnt/minio-2-4
        chown 1000:1000 -R /mnt/minio-3-1
        chown 1000:1000 -R /mnt/minio-3-2
        chown 1000:1000 -R /mnt/minio-3-3
        chown 1000:1000 -R /mnt/minio-3-4
    volumes:
      - ./haproxy/haproxy.cfg:/mnt/haproxy.cfg
      - .data/minio-1-1:/mnt/minio-1-1
      - .data/minio-1-2:/mnt/minio-1-2
      - .data/minio-1-3:/mnt/minio-1-3
      - .data/minio-1-4:/mnt/minio-1-4
      - .data/minio-2-1:/mnt/minio-2-1
      - .data/minio-2-2:/mnt/minio-2-2
      - .data/minio-2-3:/mnt/minio-2-3
      - .data/minio-2-4:/mnt/minio-2-4
      - .data/minio-3-1:/mnt/minio-3-1
      - .data/minio-3-2:/mnt/minio-3-2
      - .data/minio-3-3:/mnt/minio-3-3
      - .data/minio-3-4:/mnt/minio-3-4
    restart: "no"
